# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Streamlit
.streamlit/
*.log

# Models
*.pkl
*.joblib

# Data
*.csv
*.db

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db